<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My recipes</title>
</head>
<body>
  <div>
      <h1>My recipes</h1>
        <div th:each="recipe : ${userRecipes}">
            <p th:text="${recipe.recipeDescription}"></p>
            <div class="grid-item" th:style="'background-image: url(' + ${recipe.recipeImageUrl} + ')'">
                <h4 th:text="${recipe.recipeName}"></h4>
            </div>
        </div>
  </div>
</body>
</html>