<footer th:fragment="footer" class="container justify-bottom body-text">

    <div class="row align-bottom pink-border">

        <div class="column shrink">
            <div class="row  justify-center align-center">
                <div class="footer-logo-wrapper justify-center align-center">
                    <img src="/css/img/plateful-logo.png" alt="logo">
                </div>
            </div>
            <div class="row justify-center">
                <h6>Powered by: Spoonacular</h6>
            </div>
        </div>

        <div class="column shrink border-right border-left">
            <div class="row grow justify-center">
                <h1>Contact us!</h1>
            </div>
            <div class="row grow justify-center">

                <div class="media-logo-wrapper facebook">
                    <img src="/css/img/facebook.png">
                </div>
                <div class="media-logo-wrapper instagram">
                    <img src="/css/img/instagram.png">
                </div>
                <div class="media-logo-wrapper youtube">
                    <img src="/css/img/youtube.png">
                </div>
                <div class="media-logo-wrapper twitter">
                    <img src="/css/img/twitter.png">
                </div>
                <div class="media-logo-wrapper linkedin">
                    <img src="/css/img/linkedin.png">
                </div>
            </div>
        </div>
        <div class="column shrink justify-center align-center">
            <form>
                <label>Sign Up for emails!</label>
                <label for="email"></label>
                <input type="text" id="email" name="email">
                <input type="submit">
            </form>
        </div>
    </div>
</footer>