<header th:fragment="footer" class="container">
    <div class="row grow">
        <div class="column image-wrapper">
            <div class="image-wrapper">
                <img src="/css/img/plateful-logo.png">
            </div>
            <h3>Powered by: Spoonacular</h3>
        </div>
        <div class="column">
            <div class="row">
                <h5>Contact Us!</h5>
            </div>
            <div class="row image-wrapper-fb">
                <img src="/css/img/facebook.png">
            </div>
            <div class="row image-wrapper-ig">
                <img src="/css/img/instagram.png">
            </div>
            <div class="row image-wrapper-yt">
                <img src="/css/img/youtube.png">
            </div>
            <div class="row image-wrapper-tw">
                <img src="/css/img/twitter.png">
            </div>
            <div class="row image-wrapper-lnkin">
                <img src="/css/img/linkedin.png">
            </div>
        </div>
<!--        <div class="column">-->
<!--            <form>-->
<!--                <label>Sign Up for emails!</label>-->
<!--                <label for="email"></label>-->
<!--                <input type="text" id="email" name="email">-->
<!--                <input type="submit">-->
<!--            </form>-->
<!--        </div>-->
    </div>
</header>





