<header th:fragment="footer" class="container">
    <div class="row grow">
        <div class="column shrink justify-center">
            LOGO HERE
        </div>
        <div class="column align-right">
            <footer>
                <div>
                    <p>LOGO</p>
                </div>
                <div>
                    <p>Powered By: Spoonacular</p>
                </div>
                <div>
                    <p>Contact</p>
                </div>
                <div>
                    <p>Social MEdia Icons</p>
                </div>
                <div>
                    <p>Email Sign Up</p>
                </div>

            </footer>
        </div>
    </div>
</header>





