<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
<!--favicon-->
    <link rel="icon" type="image/png" href="/css/img/favicon1.ico" />
    <link rel="stylesheet" th:href="@{/css/resets.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/plateful.css}" />
    <script th:src="@{/keys.js}"></script>
    <meta name="_csrf" data-th-content="${_csrf.token}" property="token">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
