<header th:fragment="navbar" class="container">
    <div class="row full-width">
        <div class="column shrink justify-center">
            <div class="nav-image-wrapper">
                <img src="/css/img/plateful-logo.png" alt="Plateful Logo">
            </div>
        </div>
        <div class="column align-right justify-bottom">
            <div class="row justify-right">
                <nav>
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>
                            <a th:href="@{/recipes}">All Recipes</a>
                            <ul>
                                <li><a th:href="@{/recipes/search}">Search All Recipes</a></li>
                                <li><a th:href="@{/recipes/create}">Create Recipe</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/profile}">Profile</a></li>
                        <li><a th:href="@{/about}">About Us</a></li>
                        <li><a th:href="@{/login}">Login</a></li>
                        <li><a th:href="@{/register}">Register</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>