<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Create a recipe')" ></head>
<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
  <header th:replace="partials/navbar :: navbar"></header>

  <div class="container grow justify-center body-text indiv-recipe-container">
    <div class="row justify-center main-background grow pink-border border-radius-12">
      <div class="column shrink justify-center main-background individual-recipe-title align-center pink-border3">
        <h1>Create a Recipe</h1>
      </div>
    </div>
    <form th:action="@{/recipes/create}" th:method="post" th:object="${recipe}"  class="row grow" >
    <div class="column justify-center indiv-card-row">
      <div id="thumbnailContainer" class="column indiv-recipe-image-wrapper shrink main-background gap-20 pink-border">

        <div class="column gap-20 recipe-content main-background">
          <label for="recipeName">Recipe name:</label>
          <input type="text" name="recipeName" id="recipeName" th:field="*{recipeName}" required>
          <label for="recipeDescription">Recipe description:</label>
          <input type="text" name="recipeDescription" id="recipeDescription" th:field="*{recipeDescription}" required>
          <label for="recipeIngredients">Recipe ingredients:</label>
          <input type="text" name="recipeIngredients" id="recipeIngredients" th:field="*{recipeIngredients}" required>
          <label for="recipeInstructions">Recipe instructions:</label>
          <!--        textarea for recipe instructions-->

          <textarea name="recipeInstructions" id="recipeInstructions" th:field="*{recipeInstructions}" placeholder="Enter something..." required></textarea>
          <h3>Add a Recipe Image: </h3>
          <button type="button" name="image" class="image-add cta" id="open" value="Add image">Add Image</button>
          <input type="hidden" name="recipeImageUrl" id="recipeImage" th:field="*{recipeImageUrl}" th:value="${recipe.recipeImageUrl}" />

          <div class="row justify-right align-center">
            <button type="submit" value="Submit" class="button cta">Submit</button>
          </div>
        </div>
  </div>
    </form>

  </div>


  <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script th:replace="loading :: lottie-script"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script type="module" src="/js/create-recipe-filestack.js"></script>

</body>
</html>