<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Show all recipes!')"></head>
<body>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container chef justify-center">
        <div class="row">
            <div class="column">
                <h3>Discover Simple,
                    Delicious, And <span>Fast Recipe</span></h3>
            </div>
            <div class="column">
                <img src="/css/img/chef.pgn">
            </div>
            <div class="column">
                <h3>TOP Recipes</h3>
            </div>
        </div>
    </div>

    <div class="container justify-center">
        <h3>All recipes</h3>
        <div class="grid-container">
            <a th:each="recipe : ${recipes}" th:href="@{/recipes/{id}/view(id=${recipe.id})}">
                <div class="grid-item" th:style="'background-image: url(' + ${recipe.recipeImageUrl} + ')'">
                    <h4 th:text="${recipe.recipeName}"></h4>
                </div>
            </a>
        </div>
    </div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>