<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Show all recipes!')"></head>
<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container chef justify-center">
        <div class="row">
            <div class="column">
                <h3>Discover Simple,
                    Delicious, And <span>Fast Recipe</span></h3>
            </div>
            <div class="column">
                <img src="/css/img/chef.pgn">
            </div>
            <div class="column">
                <h3>TOP Recipes<p>A recipe is soulless. The essence of the recipe must come from you, the cook.</p></h3>
                <button>Check our Recipes!</button>
            </div>
        </div>
    </div>

    <div class="container justify-center">
        <h3>All Recipes</h3>
        <div class="grid-container">
            <a th:each="recipe : ${recipes}" th:href="@{/recipes/{id}/view(id=${recipe.id})}">
                <div class="grid-item row" th:style="'background-image: url(' + ${recipe.recipeImageUrl} + '); background-size: cover;'">
                    <div class="column recipe-title">
                        <div class="row justify-center">
                            <!-- Placeholder image if recipe.recipeImageUrl is not available -->
                            <img th:if="${not #strings.isEmpty(recipe.recipeImageUrl)}" th:src="${recipe.recipeImageUrl}" alt="Recipe Image" style="display: none;">
                            <div class="recipe-image"></div>
                        </div>
                        <div class="row recipe-title">
                            <p th:text="${recipe.recipeName}" class="text-outline"></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="container" id="result-container">

        </div>
    </div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script th:replace="loading :: lottie-script"></script>
</body>
</html>
