<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Show all recipes!')"></head>
<body>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container grow justify-center">
        <div class="row justify-center">
            <div class="column shrink">
                <h1>SHOW ALL PAGE</h1>
            </div>
        </div>
    </div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>