<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('See the Recipe!')"></head>
    <meta charset="UTF-8">
    <title>Recipe View</title>
<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
    <div class="container">

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script th:replace="loading :: lottie-script"></script>
</body>
</html>