<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Search through recipes')"></head>
<body>
<div class="page-wrapper">
  <header th:replace="partials/navbar :: navbar"></header>
  <div class="container grow justify-center">
    <div class="row justify-center">
      <div class="column shrink">
        <div class="card">
          <div class="card-divider">
            <h4 th:text="${recipe.recipeName}"></h4>
          </div>
          <img th:src="${recipe.recipeImageUrl}" alt="recipe image">
          <div class="card-section">
            <p th:text="${recipe.recipeDescription}"></p>
            <p th:text="${recipe.recipeIngredients}"></p>
            <p th:text="${recipe.recipeInstructions}"></p>

            <!--START MODAL generates unique id for the recipe-->
            <form th:action="@{/recipes/{id}/edit(id=${recipe.id})}" method="post">
              <input type="hidden" name="_method" value="put"/>
              <button class="editModalBtn" th:data-modal-id="'editModal-' + ${recipe.id}" type="button">Edit</button>
            </form>

            <div th:id="'editModal-' + ${recipe.id}" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <form th:action="@{/recipes/{id}/edit(id=${recipe.id})}" method="post" class="d-flex flex-column gap-10">
                  <h2>Make changes to your recipe!</h2>
                  <h3>Title: </h3>
                  <input type="text" name="recipeName" placeholder="Title" th:value="${recipe.recipeName}" />
                  <h3>Description: </h3>
                  <input type="text" name="recipeDescription" placeholder="Description" th:value="${recipe.recipeDescription}" />
                  <h3>Ingredients: </h3>
                  <input type="text" name="recipeIngredients" placeholder="Ingredients" th:value="${recipe.recipeIngredients}" />
                  <h3>Instructions: </h3>
                  <textarea type="text" name="recipeInstructions" th:text="${recipe.recipeInstructions}"></textarea>
                  <h3>Image URL: </h3>
                  <input type="text" name="recipeImageUrl" placeholder="Image URL" th:value="${recipe.recipeImageUrl}" />
                  <button type="submit">Submit Changes</button>
                </form>
              </div>
            </div>

            <!--END MODAL-->
            <form th:action="@{/recipes/{id}/delete(id=${recipe.id})}" method="post">
              <button>Delete recipe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="partials/footer :: footer"></footer>
</div>

<script th:src="@{/js/editModal.js}"></script>
</body>
</html>