<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Search Page')"></head>

<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container grow justify-center">
        <div class="row justify-center">
            <div class="column shrink">
                <h1>Search Page</h1>
                <form th:action="@{/recipes/search}" th:method="get">
                    <div class="input-wrapper">
                        <label for="searchInput">Search:</label>
                        <input type="text" id="searchInput" name="search" th:value="search">
                    </div>
                    <button class="btn primary" id="searchButton">Search</button>
                </form>
                <div class="container main-background" id="resultsContainer">
                    <div class="row">
                        <div class="column">
                            <h2>Results</h2>
                            <ul class="post-grid">
                                <li th:each="recipe : ${recipes}" class="column post">
                                    <a th:href="@{/recipes/{id}/view(id=${recipe.id})}">
                                        <img th:src="${recipe.recipeImageUrl}" alt="Post thumbnail" class="post-thumbnail">
                                    </a>
                                    <a th:href="@{/recipes/{id}/view(id=${recipe.id})}">
                                        <h2 th:text="${recipe.recipeName}"></h2>
                                    </a>
                                    <p th:text="${recipe.recipeDescription}" class="excerpt"></p>
                                    <div class="d-flex align-center justify-space-between">
                                        <a th:href="@{/recipes/{id}/view(id=${recipe.id})}">
                                            <p class="read-more">Read More</p>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script th:replace="loading :: lottie-script"></script>
<script type="module" th:src="@{/js/spoonacular.js}"></script>
</body>
</html>
