@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #FEF0F2;
    --border: #FFE7ED;
    --color: #374552;
    --text-alert: #F75E88;
    --that-pink: #C53683;
    --button-hover: #CA5CD2;
    --black-color: #3b3c36;
    --navbar-color: #fff
}

p {
    color:white;
}

.body-text {
    color: white;
}

button {
    width: fit-content;
}

body {
    background-color: var(--background);
    font-family: Raleway, sans-serif;

}

h1{
    color: #Fff;
}

div.container.grow.justify-center {
    padding: 20px;
}

.cta {
    /*border: 1px solid var(--that-pink)*/
    color: white;
    background-color: var(--that-pink);
    border: unset;
    border-radius: 30px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all ease .3s;
    font-weight: 600;
}

.cta:hover {
    color: white;
    background-color: var(--button-hover) ;
}

/*navbar start*/
.nav-image-wrapper {
    width: 200px;
    height: auto;
}

.nav-image-wrapper img {
    width: 100%;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}


.navli {
    font-weight: 600;
    transition: all ease .3s;
    justify-content: space-between;
    align-content: space-between;
    border: 1px solid white;
    background-color: white;
    border-radius: 50px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.navli:hover {
    color: var(--that-pink);
    background-color: var(--black-color);
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
}

nav ul li {
    margin-right: 20px;
}

nav {
    background: white;
    border: 1px solid var(--that-pink);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 60px;
}

.logout-btn-container {
    display: flex;
    align-items: center;
}

nav ul li .btn {
    margin-top: unset;
}
header.container .row {
    padding: unset;
    max-width: unset;
}
header.container {
    padding: unset;
    max-height: 20vh;
}

/*navbar end*/




div.container.grow {
    background-color: var(--color);
    border: 3px solid black;
}

div.container.justify-center {
    padding: 30px;
}
div.container.chef.justify-center {
    background-color: var(--color);
}

div.container.align-center {
    width: 30vw;
}

div.row.align-bottom {
    border: 3px solid black;
    background-color: var(--color);
    /*border-radius: 10px;*/
}

.media-logo-wrapper img {
    height: 50%;
    width: auto;
    object-fit: cover;
}

.media-logo-wrapper {
    display: flex;
    align-items: center;
}

footer.container {
    height: 20vh;
}

footer.container .row {
    /*width: 80vh;*/
    /*background-color: blue;*/
    border-radius: 10px 10px 0 0;
}

.footer-logo-wrapper img {
    width: 300px;
}

.border-right {
    border-right: 1px solid black;
}

.border-left {
    border-left: 1px solid black;
}



/*modal start*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #C53683;
    background: linear-gradient(to bottom, #FEF0F2, #C53683);
    border-radius: 5px;
}

/* Close Button */
.close {

    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all ease .3s;
}

.close:hover:first-child,
.close:focus:first-child {
    color: red;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}
/*modal end*/

/*recipe grid start*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    width: 80vw;
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item h4 {
    margin: 0;
}

.grid-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/*#ingredientsList {*/
/*    display: none;*/
/*}*/

/*recipe grid end*/

/*profile start*/

/*cookbook start*/
.cookbook-column {
    background-color: white;
    min-width: 70vw;
    height: 100%;
}
.user-cookbook {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.user-recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 columns */
    grid-gap: 20px;
}

.user-recipe-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add transition for smooth hover effect */
}

.user-recipe-card:hover {
    transform: translateY(-5px); /* Apply a slight translation on hover */
}

.user-card-link {
    text-decoration: none;
    color: #333;
}

.user-card-background {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.user-card-content {
    padding: 10px;
}

.user-recipe-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}


/*cookbook end*/
.profile-column {
    background-color: blue;
    min-width: 30vw;
    height: 100%;
}

.profile-photo-row {
    background-color: white;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-info {
    background-color: green;
}
/*profile end*/

/*/ ======================================= /*/
/*/ ==============   USER LOGIN   ========= /*/
/*/ ======================================= /*/

.login_header {
    padding-bottom: 20px;
}

label {
    font-weight: 600;
}

.login_input {
    border-radius: 50px;
    border: unset;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_button {
    padding-top: 50px;
    padding-bottom: 15px;
}

.anch {
    color:var(--that-pink);
    font-weight: 600;
    transition: all ease .3s;
}

.anch:hover {
    color: var(--button-hover)
}

.login_image {
    width: 50%;
    background-repeat: no-repeat;
    height: 40vh;
}

.login_image img {
    object-fit: cover;
    height: auto;
    width: auto;
}

.header-format {

}

.logo-wrapper {
    display: flex;
    justify-content: center;
    max-height: 160px;
    max-width: 160px;
}

.login-inner {
    max-height: 100%;
}

