@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #FEF0F2;
    --border: #FFE7ED;
    --color: #374552;
    --text-alert: #F75E88;
    --that-pink: #C53683;
    --button-hover: #CA5CD2;
    --black-color: #3b3c36;
    --navbar-color: #fff
}

/*.text-outline {*/
/*    text-shadow: 3px 4px 7px black;*/
/*}*/

.main-background {
    background-color: var(--color);
}


.body-text {
    color: white;
}

button {
    width: fit-content;
}

body {
    background-color: var(--background);
    font-family: Raleway, sans-serif;

}

h1{
    color: #Fff;
}

div.container.grow.justify-center {
    padding: 20px;
}

.cta {
    /*border: 1px solid var(--that-pink)*/
    color: white;
    background-color: var(--that-pink);
    border: unset;
    border-radius: 30px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all ease .3s;
    font-weight: 700;
}

.cta:hover {
    color: white;
    background-color: var(--button-hover) ;
}

/*// ======================================= //*/
/*// ==============   Navbar Start   ========= //*/
/*// ======================================= //*/

.nav-image-wrapper {
    width: 200px;
    height: auto;
}

.nav-image-wrapper img {
    width: 100%;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}


.navli {
    font-weight: 600;
    transition: all ease .3s;
    justify-content: space-between;
    align-content: space-between;
    border: 1px solid white;
    background-color: white;
    border-radius: 50px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.navli:hover {
    color: var(--that-pink);
    background-color: var(--black-color);
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
}

nav ul li {
    margin-right: 20px;
}

nav {
    background: white;
    border: 1px solid var(--that-pink);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 60px;
}

.logout-btn-container {
    display: flex;
    align-items: center;
}

nav ul li .btn {
    margin-top: unset;
}
header.container .row {
    padding: unset;
    max-width: unset;
}
header.container {
    padding: unset;
    max-height: 20vh;
}

/*// ======================================= //*/
/*// ==============   Navbar End   ========= //*/
/*// ======================================= //*/


/*// ======================================= //*/
/*// ==============   Footer Start   ========= //*/
/*// ======================================= //*/

div.container.grow { /*  */
    /*background-color: var(--color);*/
    /*border: 3px solid pink;*/
}

footer div.container {
    background-color: var(--color);
}

.pink-border {
    border: 3px solid pink;
}

div.container.justify-center {
    padding: 30px;
}

div.container.chef.justify-center {
    background-color: var(--color);
}

div.container.align-center {
    width: 30vw;
}

div.row.align-bottom {
    border: 3px solid black;
    background-color: var(--color);
}

.media-logo-wrapper img {
    height: 50%;
    width: auto;
    object-fit: cover;
}

.media-logo-wrapper {
    display: flex;
    align-items: center;
}

footer.container {
    /*min-height: 20vh;*/
}

footer.container .row {
    border-radius: 10px 10px 0 0;
}

.footer-logo-wrapper img {
    width: 300px;
}

.border-right {
    border-right: 1px solid black;
}

.border-left {
    border-left: 1px solid black;
}

/*// ======================================= //*/
/*// ==============   Footer END   ========= //*/
/*// ======================================= //*/

/*// ======================================= //*/
/*// ==============  Modal Start  ========= //*/
/*// ======================================= //*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #C53683;
    background: linear-gradient(to bottom, #FEF0F2, #C53683);
    border-radius: 5px;
}

/* Close Button */
.close {

    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all ease .3s;
}

.close:hover:first-child,
.close:focus:first-child {
    color: red;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}
/*// ======================================= //*/
/*// ==============   Modal End   ========= //*/
/*// ======================================= //*/


/*// ======================================= //*/
/*// ==============   Recipe Grid Start   ========= //*/
/*// ======================================= //*/



/*.recipe-card {*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    padding: 10px;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*    transition: transform 0.3s ease; !* Add transition for smooth hover effect *!*/
/*}*/

/*.recipe-card:hover {*/
/*    transform: translateY(-5px); !* Apply a slight translation on hover *!*/
/*}*/

/*.recipe-card-link {*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*}*/

/*.recipe-card-background {*/
/*    height: 200px;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    border-radius: 4px;*/
/*}*/

/*.recipe-card-content {*/
/*    padding: 10px;*/
/*}*/

/*.recipe-title {*/
/*    margin: 0;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*}*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 15px;
    width: 80vw;
}

.grid-item {
    border: unset;
    /*border-top-right-radius: 10px;*/
    /*border-top-left-radius: 10px ;*/
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    transition: all ease .3s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.grid-item h4 {
    margin: 0;
}

.grid-item:hover {
    opacity: 0.7;
    cursor: pointer;
}


.grid-item p {
    font-weight: 800;
    font-size: 20px;
}

/*// ======================================= //*/
/*// ==============   Recipe Grid END   ========= //*/
/*// ======================================= //*/
/*// ======================================= //*/
/*// ==============   Recipe Individual Start   ========= //*/
/*// ======================================= //*/

.individual-recipe-title {
    padding: 15px;
    color: white;
    border-radius: 10px;
    min-width: 20vw;
}

.indiv-card-row{
    border-radius: 10px;
    padding-bottom: 20px;
}

.indiv-recipe-container {
    padding: 20px;
}

.indiv-recipe-image-wrapper {
    /*min-width: 80vw;*/
    border-radius: 20px;
    overflow: hidden;
}
.indiv-recipe-image-wrapper img {
    min-width: 100%;
    object-fit: cover;
    aspect-ratio: 8/3;
}
.recipe-content {
    padding: 40px;
    color: #fff;
}

.indiv-recipe-btns-row {
    padding-bottom: 20px;
}
.comment-profile-image-wrapper {
    max-width: 5vw;
    height: 5vw;
    border-radius: 50%;
    overflow: hidden;
}

.comment-profile-image-wrapper img {
    min-width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

form#comment-form {
    padding: 0 20px;
}

#comment-content {
    max-width: 80vw;
    align-self: center;
    border-radius: 20px;
    padding: 10px;
    flex: 1 0 0;
}

.ghost-div {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    gap: 20px;
}


/*// ======================================= //*/
/*// ==============   Recipe Individual End   ========= //*/
/*// ======================================= //*/
/*// ======================================= //*/
/*// ==============   Cookbook / Profile START   ========= //*/
/*// ======================================= //*/
.cookbook-column {
    background-color: white;
    min-width: 70vw;
    height: 100%;
}
.user-cookbook {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.user-recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 columns */
    grid-gap: 20px;
}

.user-recipe-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add transition for smooth hover effect */
}

.user-recipe-card:hover {
    transform: translateY(-5px); /* Apply a slight translation on hover */
}

.user-card-link {
    text-decoration: none;
    color: #333;
}

.user-card-background {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.recipe-title {
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: flex-start;
    height: 14vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.recipe-title p {
    font-weight: 700;
    font-size: 15px;
}

.user-card-content {
    padding: 10px;
}

.user-recipe-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.profile-column {
    background-color: blue;
    min-width: 25vw;
    height: 100%;
}

.profile-photo-row {
    background-color: white;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-info {
    background-color: green;
}
/*// ======================================= //*/
/*// ==============   Cookbook / Profile End   ========= //*/
/*// ======================================= //*/

/*/ ======================================= /*/
/*/ ==============   USER LOGIN   ========= /*/
/*/ ======================================= /*/


.login-image-wrapper {
    min-width: 50vw;
}

.login-image-wrapper img {
    min-width: 40vw;
    object-fit: cover;
    height: 100%;
}

.login-form {
    flex-direction: column;
}

label {
    font-weight: 600;
}

.login_input {
    border-radius: 50px;
    border: unset;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.login_button {
    padding-top: 50px;
    padding-bottom: 15px;
}

.anch {
    color:var(--that-pink);
    font-weight: 600;
    transition: all ease .3s;
}

.anch:hover {
    color: var(--button-hover)
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    max-height: 160px;
    max-width: 160px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.login-inner {
    /* Remove or adjust the min-width property if necessary */
    min-width: 70vw;
    max-height: 70vh;
    border: 3px solid pink;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color);
}


.login-container label {
    color:white;
}

div.container.login-container {
    background: #4B5F71;
    border: unset;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-wrapper input {
    width: 100%;
    flex: 1 0 0;
}


.input-wrapper label {
    flex: 1 0 0;
}

@media screen and (max-width: 900px) {
    .login-content-wrapper.row {
        gap: 37px;
    }

    .login-content-wrapper.logo-wrapper {
        padding-bottom: 11px;
        padding-top: 64px;
    }
}

/*// ======================================= //*/
/*// ==============   Register Page   ========= //*/
/*// ======================================= //*/

.register_input {
    border-radius: 50px;
    border: unset;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.register-content-wrapper label {
    color: white;
}

.register-inner {
    /* Remove or adjust the min-width property if necessary */
    min-width: 70vw;
    max-height: 70vh;
    border: 1px solid pink;
    border-radius: 10px;
    background-color: var(--color);
    overflow: scroll;
}

.register-form {
    flex-direction: column;
}

.register-p {
    padding-bottom: 10px;
}

.register_header {
    padding-bottom: 10px;
    padding-top: 30px;
}

/*// ======================================= //*/
/*// ==============   Register Page END  ========= //*/
/*// ======================================= //*/


/*// ======================================= //*/
/*// ==============   Loading Page   ========= //*/
/*// ======================================= //*/

.loadingImg {
    width: 300px;
    height: 300px;
    background: transparent;
}

/*// ======================================= //*/
/*// ==============   Loading Page END   ========= //*/
/*// ======================================= //*/


/*// ======================================= //*/
/*// ==============   About Page START  ========= //*/
/*// ======================================= //*/


.mission-statement-title-wrapper {
    background: var(--color);
    max-width: 50vw;
    border-radius: 10px;
}

.mission-statement-content {
    background: var(--color);
    padding: 20px;
    border-radius: 10px;
}

.the-team-content {
    background: var(--color);
    max-width: 50vw;
    border-radius: 10px;
    color: white;
}

.the-team-pictures-row {
    background: var(--color);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 20vh;
    min-width: 55vw;
}

.the-team-image-wrapper {
    min-width: 10vw;
    border-radius: 20px;
    overflow: hidden;
}

.the-team-image-wrapper img {
    min-width: 10vw;
    object-fit: cover;
    height: 100%;
}

.border-row{
    max-width: 80vw;
    border-top: 2px solid var(--that-pink);
    border-radius: 10px;
}


/*// ======================================= //*/
/*// ==============   About Page END  ========= //*/
/*// ======================================= //*/


/*// ======================================= //*/
/*// ==============   Recipe List END  ========= //*/
/*// ======================================= //*/

.recipe-description {
    height: 100vh;
    overflow: hidden;
}

.recipe-name {
    color: white;
    font-weight: 700;
}

.all-recipe-background {
    border-radius: 10px;
    /*border: 3px solid var(--color);*/
    padding: 30px;
    gap: 20px
}

.light-grey-shade {
    background-color: #4B5F71;
}


/*// ======================================= //*/
/*// ==============   Recipe List END  ========= //*/
/*// ======================================= //*/

/*// ======================================= //*/
/*// ==============   Landing Page Start  ========= //*/
/*// ======================================= //*/

.landingHero {
    border-radius: 40px;
    margin: 10px;

}

.landingChef {
   aspect-ratio: 1/1;
    max-width: 595px;
    margin-bottom: -100px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);

}

.hero-chef {
    overflow: hidden;
    min-width: 650px;
    min-height: 600px;
    margin-bottom: -25px;
}

.hero-left-text {
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 58px;
    font-weight: 700;
    min-width: 510px;
}

.hero-right {
    min-width: 436px;
}

.hero-header-right {
    padding-left: 75px;
    font-size: 44px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: 900;
    min-width: 346px;
    margin-left: -76px;
}

.hero-para-right {
    font-size: 26px;
    font-weight: 600;
    margin-left: 41px;
}

.hero-button-right {
    min-width: 179px;
    min-height: 47px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 52px;
}

div.container.landingRecipe {
    color: var(--black-color);
    font-size: 25px;
    font-weight: 700;
}

div.container.landingRecipe .row.recipe-row {
    min-width: 90vw;
}

.solo-card {
    aspect-ratio: 1/2;
    min-width: 300px;
}

/*// ======================================= //*/
/*// ==============   Landing Page END  ========= //*/
/*// ======================================= //*/

/*// ======================================= //*/
/*// ==============   Search Page Start  ========= //*/
/*// ======================================= //*/

.ghost-div {
    display:none;
}

.search-results-card {
    overflow:hidden;
    gap: 15px;
}
.search-recipe-image-wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.search-recipe-image-wrapper img {
    object-fit: cover;
    height: 100%;
}

.show-hide {
    color: lightskyblue;
}

.show-hide:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.search-results-row {
    border-radius: 20px;
    overflow: hidden;
}



/*// ======================================= //*/
/*// ==============   Search Page END  ========= //*/
/*// ======================================= //*/