<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('About Us')"></head>

<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container grow justify-center">
        <div class="row justify-center ">
            <div class="column align-center shrink gap-10">
                <div class="row pink-border justify-center text-center mission-statement-title-wrapper">
                    <h1>Our Mission Statement</h1>
                </div>
                <div class="row pink-border mission-statement-container mission-statement-content">
                    <p>"At Plateful, our mission is to create a vibrant online community that connects culinary enthusiasts from around the world. Through our user-friendly website, we provide a platform for passionate food lovers to connect, inspire, and share their love for cooking. Our goal is to facilitate the exchange of recipes, culinary knowledge, and experiences, fostering a sense of togetherness and encouraging lifelong learning in the kitchen. We strive to empower individuals to explore their creativity, expand their culinary horizons, and forge meaningful connections with like-minded individuals who share their passion for food. With our dedication to culinary excellence and community building, we aim to be the premier online destination for culinary enthusiasts seeking inspiration, camaraderie, and a wealth of delicious recipes."
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div class="container grow justify-center the-team-container">
            <div class="row border-row"></div>
            <div class="row justify-center text-center the-team-content">
                <h2>The Team</h2>
            </div>
            <div class="row justify-space-between the-team-pictures-row">
                <div class="column the-team-image-wrapper">
                    <img src="https://cdn.filestackcontent.com/aeqBY1PeSt2I0CHZnsuE" alt="">
                </div>
                <div class="column the-team-image-wrapper">
                    <img src="https://cdn.filestackcontent.com/aeqBY1PeSt2I0CHZnsuE" alt="">
                </div>
                <div class="column the-team-image-wrapper">
                    <img src="https://cdn.filestackcontent.com/k0uXTS6TKKx1sB69IozA" alt="">
                </div>
                <div class="column the-team-image-wrapper">
                    <img src="https://cdn.filestackcontent.com/4NAVo5tGSVSZk0YhgIiw" alt="">
                </div>
                <div class="column the-team-image-wrapper">
                    <img src="https://cdn.filestackcontent.com/aeqBY1PeSt2I0CHZnsuE" alt="">
                </div>
            </div>
        </div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script th:replace="loading :: lottie-script"></script>
</body>
</html>