<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head ('Plateful Contact Page')"></head>

<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper grow">
  <header th:replace="partials/navbar :: navbar"></header>
  <div class="container grow justify-center contact-wrapper">
    <div class="row justify-center grow">
      <div class="column grow justify-center align-center">
        <div class="contact-image-wrapper shrink">
          <img class="contact-image-content pink-border" src="/css/img/happy-lady-1.jpg" alt="Woman cooking">
          <div class="contact-header">
            <h1 class="text-outline">Contact Us!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-center main-background contact-content-wrapper">
      <div class="column grow justify-center align-center">
        <div class="contact-form-wrapper">
          <form th:action="@{/contact}" th:method="post" class="register-form row form justify-space-between">
            <div class="input-wrapper">

            </div>
            <div class="input-wrapper">

            </div>
            <div class="input-wrapper">

            </div>
            <div class="input-wrapper">
              <input class="cta justify-center align-center text-center" type="submit" value="Send it!">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>

</body>
</html>