<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head ('Plateful')"></head>

<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container grow justify-center landingHero main-background">
        <div class="row justify-space-between hero-landing-row">
            <div class="column shrink">
                <p class="hero-left-text">Discover Simple, Delicious, and Fast Recipes!</p>
            </div>
            <div class="column hero-chef">
                <img class="landingChef" src="/css/img/chefNoBG.png">
            </div>
            <div class="column shrink hero-right">
                <h1 class="hero-header-right">Top Recipes</h1>
                <p class="hero-para-right">A recipe is soulless. The essence of the recipe must come from you, the cook.</p>
                <a th:href="@{/recipes}">
                <button class="hero-button-right cta">Check our Recipes!</button></a>
            </div>
        </div>
    </div>
    <div class="container landingRecipe">
        <div class="row recipe-row">
            <div class="column">
                <h2>Top 5 User Created Recipes</h2>
            </div>
        </div>
        <div class="row recipe-cards-row">
            <div class="column recipe-cards">
                <div class="row card-grid">
                    <div class="card" th:each="recipe, iteration : ${recipes}" th:if="${iteration.index < 4}" th:href="@{/recipes/{id}/view(id=${recipe.id})}">
                        <a th:href="@{/recipes/{id}/view(id=${recipe.id})}">
                            <div class="row justify-center">
                                <a th:href="@{/recipes/{id}/view(id=${recipe.id})}" class="recipe-clickable"><img th:src="${recipe.recipeImageUrl}" alt=""></a>
                            </div>
                        </a>
                        <a th:href="@{/recipes/{id}/view(id=${recipe.id})}">
                            <div class="row">
                                <h3 th:text="${recipe.recipeName}"></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column recipe-cards justify-center">
               <div class="row">
                   <div class="card large-card" th:if="${recipes.size() >= 5}" >
                       <a th:href="@{/recipes/{id}/view(id=${recipes[4].id})}">
                       <div class="row justify-center">
                            <img th:src="${recipes[4].recipeImageUrl}" alt="recipe image">
                           </div>
                       </a>
                       <a th:href="@{/recipes/{id}/view(id=${recipes[4].id})}">
                       <div class="row">
                            <h3 th:text="${recipes[4].recipeName}"></h3>
                        </div>
                       </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>

</body>
</html>