<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head ('Plateful login page')"></head>
<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
    <div class="container login-container grow justify-center">
        <div class="row login-inner no-padding">
            <div class="column login-image-wrapper">
                <img src="/css/img/wings.jpg" alt="Fruit Smoothie">
            </div>
            <div class="column login-content-wrapper justify-center align-center shrink">
                <div class="row grow logo-wrapper">
                    <a href="/"><img src="/css/img/plateful-logo.png" alt="Plateful Logo"></a>
                </div>
                <div class="row grow justify-center header-format login_header">
                    <h1>Welcome Back :)</h1>
                </div>
                <form th:action="@{/login}" th:method="post" class="form row login-form justify-space-around">
                    <label class="card-title" for="username">Username:</label>
                    <input class="card-text login_input" id="username" name="username" type="text" required>
                    <label class="card-title" for="password">Password:</label>
                    <input class="card-text login_input" id="password" name="password" type="password" required>
                    <!--                  <div class="login_button">-->
                    <input type="submit" class="btn cta" id="login-btn" value="Log In">
                </form>
                <div class="row login_button">
                    <p>Dont have an account? <a href="/register"><span class="anch">Sign Up Here!</span></a></p>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script th:replace="loading :: lottie-script"></script>
</body>
</html>