<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Plateful login page')" ></head>
<body>
<div class="page-wrapper">
  <header th:replace="partials/navbar :: navbar"></header>
  <div class="container grow justify-center">
    <div class="row justify-center">
      <div class="column shrink">
        <h1>Log In!</h1>
        <form th:action="@{/login}" th:method="post">
          <label for="username">Username</label>
          <input type="text" id="username" name="username">
          <label for="password">Password</label>
          <input type="text" id="password" name="password">
          <button>Login!</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>