<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Plateful login page')" ></head>
<body>
<div class="page-wrapper">
  <header th:replace="partials/navbar :: navbar"></header>
  <div class="container" >
    <div class="row">
      <div class="column">
        <form th:action="@{/login}" th:method="post" class="form login-form">
          <div class="form-group-wrapper">
            <h1>Please Log In</h1>
            <div class="card">
              <div class="card-body">
                <div class="column">
                  <label class="card-title row" for="username">Username</label>
                  <input class="card-text row" id="username" name="username" type="text" required>
                </div>
                <div class="column">
                  <label class="card-title row" for="password">Password</label>
                  <input class="card-text row" id="password" name="password" type="password" required>
                </div>
                <input type="submit" class="btn" id="login-btn" value="Log In">
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <footer th:replace="partials/footer :: footer"></footer>

</div>
</body>
</html>