<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/head :: head ('Profile page')"></head>
<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container justify-center grow">
        <h2>Welcome, <span sec:authentication="principal.username"></span>!</h2>
        <div class="row grow justify-center">
<!--            cookbook section-->
            <div class="cookbook-column column shrink align-center border-radius-12 main-background pink-border">
                <h1 class="user-cookbook">Cookbook</h1>
                <!-- Displaying recipes created by a user -->
                <div class="user-recipes-grid">
                    <div class="user-recipe-card" th:each="recipe : ${userRecipes}">
                        <a th:href="@{/recipes/{id}/view(id=${recipe.id})}" class="user-card-link">
                            <div class="user-card-background" th:style="'background-image: url(' + ${recipe.recipeImageUrl} + ')'" ></div>
                            <div class="user-card-content">
                                <h3 class="user-recipe-title" th:text="${recipe.recipeName}"></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-column column shrink">
                <div class="profile-photo-row row">
                    <div class="column justify-center">
                        <!-- avatar placeholder -->
                        <form th:action="@{/profile/changeImage}" method="post" id="form-change-avatar">
                            <div class="image-container">
                                <img id="openImage" class="changeAvatar" th:src="${user.avatar_url}">
                                <div class="middle-text" id="change-image-text">
                                    <div class="portrait-text" >Change Image</div>
                                </div>
                            </div>
                            <input type="hidden" name="avatarImageUrl" id="avatarUrl" th:value="${user.avatar_url}">
                        </form>
                    </div>
                </div>
                <div class="profile-info justify-center row gap-10">
                    <div class="column justify-center shrink align-center">
                        <h1>Your Profile</h1>
                        <p>Username: <span sec:authentication="principal.username"></span></p>
                        <p>Email: <span sec:authentication="principal.email"></span></p>
                        <button class="cta margin-10" id="edit-modal-profile-open">Edit Profile</button>

                        <!-- Modal Start -->

                        <div class="modal" id="modal-user-container">
                            <div class="modal-content">
                                <span class="close" id="close-x">x</span>
                                <form th:action="@{/profile/update}" method="post" id="edit-profile-form" class="d-flex flex-column gap-10">
                                    <div class="row justify-center align-center">
                                        <h2>Make Changes to Your Account!</h2>
                                    </div>
                                    <label for="username">Username:</label>
                                    <input id="username" name="username" class="" type="text" th:value="${user.username}">

                                    <label for="email">Email:</label>
                                    <input type="email" name="email" id="email" th:value="${user.email}">

                                    <label for="password">Password:</label>
                                    <input id="password" name="password" type="password" onkeyup="passConfirm()">

                                    <label for="confirm_password">Confirm Password:</label>
                                    <input id="confirm_password" name="confirm_password" type="password">

                                    <input name="user-id" hidden="hidden" th:value="${user.id}">
                                    <div class="justify-center align-center text-center" id="message"></div>
                                    <div class="row justify-right align-center">
                                        <button type="submit" id="update-profile-btn" class="button cta justify-center align-center">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>

<!-- Modal End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script th:replace="loading :: lottie-script"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:type="module" th:src="@{/js/url_avatar_filestack.js}"></script>
<script th:src="@{/js/edit-Profile-Modal.js}"></script>
<script src="/js/passwordMatcher.js"></script>

</body>
</html>
