<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/head :: head ('User Profile')"></head>
<body>
<div class="page-wrapper">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container justify-center grow">
        <h3>Welcome, <span sec:authentication="principal.username"></span></h3>
        <div class="row grow justify-center">
<!--            cookbook section-->
            <div class="cookbook-column column shrink align-center">
                <h1 class="user-cookbook">Cookbook</h1>
                <!-- Displaying recipes created by a user -->
                <div class="user-recipes-grid">
                    <div class="user-recipe-card" th:each="recipe : ${userRecipes}">
                        <a th:href="@{/recipes/{id}/view(id=${recipe.id})}" class="user-card-link">
                            <div class="user-card-background" th:style="'background-image: url(' + ${recipe.recipeImageUrl} + ')'" ></div>
                            <div class="user-card-content">
                                <h3 class="user-recipe-title" th:text="${recipe.recipeName}"></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-column column shrink">
                <div class="profile-photo-row row grow">
                    <div class="column justify-center">
<!--                        avatar placeholder-->
                        <img src="https://picsum.photos/200/300" alt="Avatar" class="avatar">
<!--                        <img th:src="${user.avatar_url}" alt="Avatar" class="avatar">-->
                    </div>
                </div>
                <div class="profile-info justify-center row grow">
                    <div class="column justify-center shrink">
                        <h1>Your profile</h1>
                        <p>Username: <span sec:authentication="principal.username"></span></p>
                        <p>Email: <span sec:authentication="principal.email"></span></p>
                        <p><a th:href="@{/profile/update}"><span class="">Update Account Here!</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>
</body>
</html>
