<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Plateful register page')" ></head>
<body>
<div class="page-wrapper">
  <header th:replace="partials/navbar :: navbar"></header>
  <div class="container grow justify-center">
    <div class="row justify-center">
      <div class="column shrink">
        <h1>Register PAGE</h1>
        <form action="/register" method="post">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username"><br>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email"><br>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password"><br>
          <label for="avatar_url">Profile Picture:</label>
          <input type="text" name="avatar_url" id="avatar_url"><br>
          <input type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
  <footer th:replace="partials/footer :: footer"></footer>
</div>

</body>
</html>