<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Plateful register page')" ></head>
<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
  <header th:replace="partials/navbar :: navbar"></header>
  <div class="container grow justify-center body-text">
    <div class="row justify-center register-inner align-center">
      <div class="column justify-center align-center shrink">

        <div class="row grow justify-center register_header">
          <h1>Welcome to Plateful!</h1>
        </div>

        <div class="row grow justify-center register-p">
          <p>Already have an account? <span class="anch"><a href="/login">Log in</a></span></p>
        </div>

        <form th:action="@{/register}" th:method="post" id="register-form" class="register-form row form justify-space-between">
          <div th:if="${param.usernameExists}">
            <p style="color: red;">Username already exists. Please choose a different username.</p>
          </div>
          <div th:if="${param.emailExists}">
            <p style="color: red;">Email already exists. Please choose a different email.</p>
          </div>
          <div class="input-wrapper">
            <label class="card-title" for="username">Username:</label>
            <input class="card-text register_input" type="text" name="username" id="username">
          </div>
          <div class="input-wrapper">
            <label class="card-title" for="email">Email:</label>
            <input class="card-text register_input" type="email" name="email" id="email">
          </div>
          <div class="input-wrapper">
            <label class="card-title" for="password">Password:</label>
            <input class="card-text register_input" type="password" name="password" id="password">
          </div>
          <div class="input-wrapper">
            <label class="card-title" for="confirm_password">Confirm Password:</label>
            <input class="card-text register_input" id="confirm_password" name="confirm_password" type="password">
          </div>
          <div class="input-wrapper">
            <div class="form-group">
              <label class="card-title" for="open">Add profile picture: </label>
              <button type="button" name="image" class="image-add cta" id="open" value="Add image">Add Image</button>
              <input type="hidden" name="avatarImageUrl" id="avatarImage" value="avatarImage" />
              <div id="thumbnailContainer"></div>
            </div>
          </div>
          <div class="justify-center align-center text-center" id="message"></div>
          <input class="btn cta" type="submit" value="Register">
        </form>

      </div>
    </div>
  </div>
  <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script type="module" th:src="@{/js/passwordMatcher.js}"></script>
<script th:replace="loading :: lottie-script"></script>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:type="module" th:src="@{/js/register-user-avatar-url.js}"></script>

</body>
</html>