<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head ('Plateful register page')" ></head>
<body>
<div th:replace="loading :: loading-animation"></div>
<div class="page-wrapper">
  <header th:replace="partials/navbar :: navbar"></header>
  <div class="container grow justify-center">
    <div class="row justify-center">
      <div class="column shrink">
        <h1>Register PAGE</h1>
        <form th:action="@{/register}" th:method="post">
          <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
          </div>
          <div>
            <label for="confirm_password">Confirm Password:</label>
            <input id="confirm_password" name="confirm_password" type="password">
          </div>
          <div>
            <label for="avatar_url">Profile Picture:</label>
            <input type="text" name="avatar_url" id="avatar_url"><br>
          </div>
          <div class="justify-center align-center text-center" id="message"></div>
          <input type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
  <footer th:replace="partials/footer :: footer"></footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/loadingAnimation.js}"></script>
<script type="module" th:src="@{/js/passwordMatcher.js}"></script>
<script th:replace="loading :: lottie-script"></script>

</body>
</html>